<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Some title{% endblock %}</title>
        {% load static %}
        {% block static %}
<!--            вставить ссылку на статику-->
      <link rel="stylesheet" href="./dist/static/css/app.95694c2e054db5fed4f483f69b7e4d0f.css">
        {% endblock %}
    </head>
    <body class="body">
        <header class="header">
        </header>
        <main class="main container">
            <div class="container">
                {% block content %}
                <!-- Содержимое страницы -->
                {% endblock content %}
            </div>
        </main>

        <script src="{% static 'js/vendor.js' %}"></script>
        <script src="{% static 'js/manifest.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>
